  
main{
    max-width:calc(75%);
    float:left;
}
aside{
    max-width: calc(25%);
    float: left;
    border-left: none;
}
footer{
    clear:both;
}

img{
    max-width:100%;
}

.redDashedBorder{
    border:3px dashed red;
}

.imageFilter{
    
    float:left;
    margin: 1px;
    max-width: 30%;
    
}

.imageFilter img{
    max-width:100%;
   
}

.filterContainer{
    margin-bottom:50px;
}

.selectedFilter {
    border: 3px solid red ;
}